body {
    background-image: url('../img/course-bg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  .block {
    width: 50vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #block1 {
    font-size: 3em;
    text-align: center;
    color: bisque;
    text-shadow: 1px 1px 2px rgb(0, 255, 55),1px 1px 5px rgb(0, 255, 55),1px 1px 7px rgb(0, 255, 55),
    1px 1px 10px rgb(0, 255, 55),1px 1px 15px rgb(0, 255, 55)
  }
  #block2 {
    transition: opacity 1s ease;
  }

  #block3 {
    height: 100px;
  }

  #block4 {
    height: 100px;
  }

  #myimg {
    opacity: 0;
  }

  #slider {
    background-color: green ;
    color: green ;
  }

  button {
    border-radius: 100px;
    width: 150px;
    height: 100px;
    background-color: rgb(56, 209, 56);
    font-size: 24px;
    font-family: serif;
    color: black;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    margin: 0 auto; 
}

button:hover {
    box-shadow: 0 0 5px gray;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0 0 5px rgba(0,0,0,0.5); 
}